body {
    font-family: 'Lato', sans-serif;
    margin:0;
    font-weight: bold;
}

.badge img{
    height: 140px;
    width: 140px;
    background-color: #61dafb;
    border-radius: 50%;
    padding: 5px;
}

.hero {
    background-color: #23475b;
    color:white;
    padding:32px 15px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
}

.form {
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    padding: 1.5em;
    border-radius: 10px;
}

.form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dbdbe2; 
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form p {
    font-size: 20px;
    color: #3a3b3f;
    margin-bottom: 1em;
}

.form button {
    background-color: #98ca3f;
    color:white;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    border-bottom: 5px solid #6d932b;
    display: inline-block;
}

.form button:hover {
    cursor: pointer;
}