<<<<<<< HEAD
body {
    margin:0;
    font-family: Arial;
}

.post-list{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    grid-gap: 28px;
}

.post {
    cursor: pointer;
    position: relative;
    display:block;
}
.post-image {
    margin: 0;
}
.post-image img {
    width: 100%;
    vertical-align: top;
    max-height: 164px;
    min-height: 50%;
}

.post-overlay {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: #eee;
    text-align: center;
}
.post:hover .post-overlay {
    display: flex;
}
.post-like, 
.post-comment {
    width: 80px;
    margin:5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .post-list {
        grid-gap: 3px;
    }
=======
body {
    margin:0;
    font-family: Arial;
}

.post-list{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    grid-gap: 28px;
}

.post {
    cursor: pointer;
    position: relative;
    display:block;
}
.post-image {
    margin: 0;
}
.post-image img {
    width: 100%;
    vertical-align: top;
    max-height: 164px;
    min-height: 50%;
}

.post-overlay {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: #eee;
    text-align: center;
}
.post:hover .post-overlay {
    display: flex;
}
.post-like, 
.post-comment {
    width: 80px;
    margin:5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .post-list {
        grid-gap: 3px;
    }
>>>>>>> 5315907e8e581a90430725d97c0c7c366232eaa1
}